.app {
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.body {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.btybglds_img {
    position: absolute;
    bottom: .75em;
    left: .75em;
    max-height: 50px;
    max-width: fit-content;
}