.page {
    /* All pages get this style. */
    flex-grow: 1;
    padding: 1rem;
}

.center {
    /* Center the text */
    display: flex;
    justify-content: center;
    align-items: center;
}

.setting_div {
    padding: 1rem;
    padding-top: 0;
    margin-bottom: 1rem;
    background-color: darkgreen;
    border: 2px solid white;
    border-radius: 5px;
}