.filterComponent {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;  
    left: 50%;
    height: 50%;
    aspect-ratio: 2 / 1;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 10px;
    background-color: var(--backgroundColor);
    background-color: black;
    transform: translate(-50%, -50%);
    z-index: 4;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.close_button {
    position: absolute;
    right: .7rem;
    top: .7rem;
    transition: transform .3s ease-in-out;
}
.close_button:hover {
    transform: scale(1.4);
}

.filterHeader {
    text-align: center;
    margin: 0;
    color: var(--fontColor);
    font-size: 2.15rem;
    font-weight: 800;
}

.filter_table_row {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    border-radius: 8px;
    padding: .75rem;
    overflow-y: scroll;
}
.filter_table_row::-webkit-scrollbar {
    width: .75rem;
}
.filter_table_row::-webkit-scrollbar-track-piece {
    overflow: visible;
}
.filter_table_row::-webkit-scrollbar-track {
    background-color:  var(--secondary-backgroundColor);
    border-radius: 6px;
    overflow: visible;
}
.filter_table_row::-webkit-scrollbar-thumb {
    width: 1rem;
    background-color: rgba(240, 248, 255, 0.533); border-radius: 6px;
}

.filter_row_item {
    padding: .75rem .75rem;
    border-radius: 6px;
    font-size: 1.25rem;
    background-color: aliceblue;
}
.filter_row_label {
    color: #000;
}
.filter_row_options {
    display: flex;
    gap: 1rem;

}
.filter_value {
    flex: 1;
    display: flex;
    gap: 1rem;
    align-items: flex-end;
}
.filter_type_selector{
    flex: 0.15;
}
.filter_delete_button_span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.multipleSelection, .sizeSelectBox, .checkBoxes{
    display: inline;
}

.sizeSelectBox{
    background-color: white;
    padding: 0%;
    border: 1px solid black;
}

.checkBoxes label {
    display: block;
}

.checkBoxes label:hover {
    background-color: #4F615E;
    color: white;
    /* Added text color for better visibility */
}

.filter_button_row {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 1rem;
    gap: 1rem;
    justify-content: space-evenly;
}
.filter_delete_button {
    padding: 0 .25rem;
    padding-top: 3px;
    margin: 0;
    border: 0;
    outline: none;
    background-color: transparent;
    box-shadow: 0;
    flex:1;
    transform: scale(1);
    transition: transform .3s ease-in-out, color .3s ease-in-out;
}

.filter_delete_button:hover {
    color: red;
    transform: scale(1.09);
}

.lm_button {
    flex: .33;
    padding: .65rem 0;
    margin: 0;
    border: 0;
    outline: none;
    background-color: #3DDC97;
    box-shadow: 0;
    border-radius: 4px;
    font-size: 1.25rem;
}

@keyframes wiggle {
    0% { transform: translate(2px, 0);}
    50% { transform: translate(-2px, 0);}
    100% { transform: translate(2px, 0);}
}
